accelerate==0.25.0
annotated-types==0.6.0
blis==0.7.11
catalogue==2.0.10
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
cymem==2.0.8
datasets==2.14.6
einops==0.7.0
fastai==2.7.13
fastcore==1.5.29
fastdownload==0.0.7
fastprogress==1.0.3
fonttools==4.25.0
huggingface-hub==0.20.1
imbalanced-learn==0.11.0
langcodes==3.3.0
llvmlite==0.41.1
mkl-service==2.4.0
munkres==1.1.4
murmurhash==1.0.10
neurokit2==0.2.7
numba==0.58.1
peft==0.7.1
preshed==3.0.9
pyarrow==11.0.0
pydantic==2.5.3
pydantic_core==2.14.6
pyts==0.13.0
pywin32==305.1
scipy==1.11.4
smart-open==6.4.0
soundfile==0.12.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.2.2
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tsai==0.3.8
typer==0.9.0
wasabi==1.1.2
weasel==0.3.4
wfdb==4.1.2
